.header {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.headerWrapper {
    height:100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoPic {
    width: 30px;
    height: 30px;
}

.logoText {
    font-weight: bold;
    font-size: 30px;
    color: rgb(21, 170, 113);
    text-shadow: 1px 1px #68686871;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}

.headerIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.headerIconBag {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}