.sidebar {
    flex: 0.6;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
}

.sidebarList {
    list-style: none;
    padding: 5px;
    display: block;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebarFooter {
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgb(42, 163, 89);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
	font-size: 20px;
}

.sidebarFooter:hover {
    color: red;
    text-shadow: -1px 5px 5px #000000;
}